* { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 16px Helvetica, Arial; padding: 10px;}
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { 
        list-style-type: none; 
        margin-bottom: 30px; 
        padding: 0; 
      }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #status{
        color: grey;
      }
      .dleft{
        display:block;
        float:left;
      }
      .dright{
        display:block;
        float:right;
      }
      #check_online{
        background: maroon;
        color: white;
        font-size: 16px;
        padding: 2px;
        border-radius: 10px;
      }
      #hide{
        background: steelblue;
        color: white;
        font-size: 16px;
        padding: 2px;
        border-radius: 10px;
      }
      .red{
        color: red;
      }
      .green{
        color: green;
      }
      .orange{
        color: orange;
      }
      .blue{
        color: blue;
      }
      .steelblue{
        color: steelblue;
      }
      .skyblue{
        color: skyblue;
      }
      .purple{
        color: purple;
      }
      .pink{
        color: pink;
      }
      .gray{
        color: gray;
      }
      .maroon{
        color: maroon;
      }
      .olive{
        color: olive;
      }
      .right{
        text-align: right;
      }
      .msg{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
      img{
        width: 100px;
        height: 100px;
        display: inline-block;
      }
      img.smaller{
        width: 50px;
        height: 50px;
        display:inline-block;
      }

  .grass{
    color: green;
    font-weight: bolder;
  }
  .fire{
    color: red;
    font-weight: bolder;
  }
  .normal{
    color: grey;
    font-weight: bolder;
  }
  .water{
    color: skyblue;
    font-weight: bolder;
  }
  .bug{
    color: lightgreen;
    font-weight: bolder;
  }
  .poison{
    color: purple;
    font-weight: bolder;
  }
  .electric{
    color: gold;
    font-weight: bolder;
  }
  .ground{
    color: brown;
    font-weight: bolder;
  }
  .fighting{
    color: darkred;
    font-weight: bolder;
  }
  .psychic{
    color: #33cccc;
    font-weight: bolder;
  }
  .rock{
    font-weight: bolder;
  }
  .ghost{
    color: #666699;
    font-weight: bolder;
  }
  .dragon{
    color: orange;
    font-weight: bolder;
  }
  .fairy{
    color: pink;
    font-weight: bolder;
  }
  .ice{
    color: lightblue;
    font-weight: bolder;
  }
  .hp{
    background-color:steelblue;
    color:white;
    padding:2px;
  }
  .att{
    background-color:maroon;
    color:white;
    padding:2px;
  }
  .def{
    background-color:gray;
    color:white;
    padding:2px;
  }